.Categories {
  display: flex;
  align-items: center;
}

.Categories select {
  padding: 0.7rem 1rem;
  border: 1px solid #cbd5e1;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #2d3748;
  transition: border 0.2s, box-shadow 0.2s;
  outline: none;
  appearance: none;
}

.Categories select:focus {
  border-color: #3182ce;
  box-shadow: 0 0 0;
}

.Categories select:hover{
    cursor: pointer;
    border-color: #a0aec0;

}